

input {
	display: block;
	padding: 2px;
}

label {
	padding-top:2px;
}

#input {
	padding: 3px 0 3px 0;
}

.make-lg-column(@columns; @gutter: @grid-gutter-width) {
	padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);
}

.make-md-column(@columns; @gutter: @grid-gutter-width) {
	padding-left:  (@gutter / 0);
    padding-right: (@gutter / 0);
}

td, th {
	padding: 0 10px 0 5px;
}

button {
	margin: 3px 3px 3px 0;
}